# python 
*.pt
*.ckpt
*.pth
*.pyc
autovc.egg-info/*

# data
data/*
!data/samples/*

# envs
AutoVC-env/*
AutoVC2-env/*
AutoVC3-env/*
run_scripts/AutoVC-env/*
wandb-env/*

# logs
logs/*
wandb/*
*.err
*.out

# other

