# torch==1.4.0 # for CUDA, see below
# torchvision==0.5.0 # for CUDA, see below
torch
torchvision
sklearn 
tqdm 
librosa 
webrtcvad-wheels
scipy 
matplotlib==3.3.3
plotly==5.1.0
pandas 
seaborn 
# wavenet_vocoder 
numba==0.49.1 # for trouble, see below
wandb
noisereduce
setuptools
appdirs
six

# If having trouble, try these:

# torch==1.4.0+cu92 torchvision==0.5.0+cu92 -f https://download.pytorch.org/whl/cu92/torch_stable.html
# numba==0.43.0